/* RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/* CORES PADRÃO */

/* Snow */
.white{
    background-color: white !important;
}
.white-text{
    color: white !important;
}
/* Snow */
.cinza1{
    background-color: #FAFAFA !important;
}
.cinza1-text{
    color: #FAFAFA !important;
}
/* Pattens Blue */
.cinza2{
    background-color: #E0E1E2 !important;
}
.cinza2-text{
    color: #E0E1E2 !important;
}
/* Link Water */
.cinza3{
    background-color: #D1D2D3 !important;
}
.cinza3-text{
    color: #D1D2D3 !important;
}
/* Mischka */
.cinza4{
    background-color: #A7A9AC !important;
}
.cinza4-text{
    color: #A7A9AC !important;
}

/* FONTS */
.font1, h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}
.font2, p{
    font-family: 'Lato', sans-serif;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }

/* TAGS DE APOIO */
.click{
    cursor: pointer;
}
.suave, .suave:hover{
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
}
/* TAGS PADRÃO */

body{
    position: relative;
    height: 100vh;
}

header{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
header .logo h4{
    margin: 0;
    line-height: 60px;
    text-align: center;
}
main{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: auto;
    padding-left: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
}
main .menu{
    width: 250px;
    height: calc(100% - 60px);
    position: fixed;
    bottom: 0;
    left: 0;
}
main .menu ul li{
    height: 50px;
    line-height: 50px;
}
main .menu ul li a{
    display: block;
    height: 50px;
    color: #666666;
}
main .menu ul li a:hover{
    background-color: rgba(0, 0, 0, .08);
}
main .menu ul li a i{
    width: 50px;
    line-height: 48px;
    font-size: 22px;
    text-align: center;
    float: left;
}

#content{}

#paginas{
    padding: 20px;
    outline-offset: -1px;
    overflow: hidden;
}
#paginas h3{}
#paginas h3 a{
    display: block;
    float: right;
    line-height: 40px;
    font-size: 14px;
    padding: 0 20px;
    background-color: #999999;
    margin-top: 4px;
    color: white;
}
#paginas h3 a:hover{
    background-color: #666666;
}
#paginas h6{
    padding: 10px 20px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#paginas ul li{
    width: 100%;
    height: 50px;
    color: #D1D2D3;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #D1D2D3;
}
#paginas ul li:hover{
    color: #A7A9AC;
}
#paginas ul li:last-of-type{
    border: none;
}
#paginas ul li.header{
    height: 30px;
    background-color: #A7A9AC;
}
#paginas ul li.header h6{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #666666;
    line-height: 30px;
}
#paginas ul li.header h6.preenchimento{
    width: 100px;
}
#paginas ul li h6{
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 46px;
    padding: 0 10px;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
#paginas ul li h6.titulo{
    width: calc(50% - 50px);
}
#paginas ul li h6.url{
    width: calc(50% - 50px);
}
#paginas ul li h6.editar{
    width: 50px;
    text-align: center;
}
#paginas ul li h6.deletar{
    width: 50px;
    text-align: center;
}
#paginas ul li h6 i{
    font-size: 22px;
}
#paginas .paginas-left{
    width: calc(100% - 320px);
    float: left;
}
#paginas .paginas-right{
    width: 300px;
    float: right;
}
#paginas #palco{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
    padding-top: 0;
    overflow: auto;
}
#paginas .palco{
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}
#paginas .palco i{
    width: 50px;
    float: left;
    font-size: 20px;
    text-align: center;
}
#paginas .palco .texto{
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px solid #D1D2D3;
    line-height: 50px;
}
#paginas .palco .texto .editarTexto,
#paginas .palco .texto .deletarTexto{
    display: block;
    float: right;
}
#paginas .seo{
    width: 100%;
    position: relative;
    background-color: white;
    margin-top: 20px;
    overflow: hidden;
}
#paginas .seo .content{
    padding: 0 20px;
}
#paginas .modulos{
    min-height: 300px;
    overflow: hidden;
}
#paginas .modulos ul{
    overflow: hidden;
}
#paginas .modulos ul li{
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    color: #666666;
    border: 0;
}
#paginas .modulos ul li:hover{
    background-color: #FAFAFA;
}
#paginas .modulos ul li i{
    display: block;
    font-size: 24px;
    margin-top: 20px;
}

#formulario{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}
#formulario.active{
    opacity: 1;
    visibility: visible;
}
#formulario .fContainer{
    width: 600px;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: calc(50% - 300px);
    transform: translateY(-50%);
}
#formulario .detalhe{
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: .6s;
    z-index: 1;
}
#formulario.active .detalhe{
    width: 700px;
    height: 700px;
    transition-delay: .3s;
    transition-duration: .3s;
}
#formulario form{
    opacity: 0;
    position: relative;
    z-index: 2;
}
#formulario form h6{
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}
#formulario form h6 span{
    float: right;
    cursor: pointer;
}
#formulario form .input-field{
    padding: 0 10px;
}
#formulario form .input-field label{
    margin-left: 10px;
}
#formulario form button{
    display: block;
    line-height: 40px;
    float: right;
    margin: 0 10px 10px 0;
    padding: 0 30px;
    border-radius: 20px;
}
#formulario form button:hover{
    background-color: #999999;
}